name: Linux Build

on:
  push:
    branches: [senpai]
  pull_request:
    branches: [senpai]

jobs:
  linux-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install pyinstaller

      - name: Package build
        run: pyinstaller --onefile twitch_chatbot.py

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: Linux Build
          path: dist/twitch_chatbot
